[filter "lfs"]
	process = git-lfs filter-process
	required = true
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
[user]
	name = carieeeh
	email = 118446111+carieeeh@users.noreply.github.com
